 * {
     margin: 0;
     padding: 0;
     list-style-type: none;
 }


 body {
     color: #333;
     font-family: Arial, Helvetica, sans-serif;
     box-sizing: border-box;
 }

 .container {
     max-width: 1024px;
     margin: 0 auto;
     padding: 50px 0;
 }

 .header h1 {
     margin-bottom: 25px;
 }

 .contact-info h3 {
     margin-bottom: 15px;
 }

 .contact-info table {
     margin-bottom: 25px;

 }

 .contact-info th,
 .contact-info td {
     padding: 10px;
     width: 60%;
     text-align: left;

 }

 fieldset {
     padding: 25px;

 }

 label {
     display: block;
     margin-bottom: 15px;
 }

 .email-block,
 .description-block,
 .work-block {
     margin-bottom: 25px;
 }


 input,
 select,
 textarea {
     appearance: none;
     margin: 0;
     padding: 0;
     border: none;
     background-color: transparent;
 }

 input[type="email"],
 textarea,
 select {
     background-color: #F8FAFC;
     padding: .5rem .75rem;
     border-radius: 4px;
     display: block;
     min-width: 20rem;
 }

 textarea {
     min-height: 10rem;

 }

 textarea::placeholder {
     color: #0829a0;
 }

 input[type="email"]:focus,
 textarea:focus,
 select:focus {
     outline: solid 1px #0048D9;
 }

 input[type="email"]:invalid,
 textarea:invalid,
 select:invalid {
     outline: solid 1px #ff0000;
 }

 input[type="email"]:invalid+.error {
     display: block;
 }

 select {
     background-image: url('./down-drop-arrow.svg');
     background-repeat: no-repeat;
     background-position: right 50%;
 }

 select:invalid+.error {
     display: block;
 }

 span {
     color: red;
 }

 input[type="submit"] {
     background: #0048D9;
     border-radius: 6px;
     padding: .2rem 2rem;
     color: #FFFFFF;
     font-weight: 500;
     line-height: 150%;
     cursor: pointer;
     transition: all ease 0.3s;
 }

 input[type="submit"]:hover {
     background: #002266;
 }

 .error {
     display: none;
     color: red;
     font-size: 12px;
     margin-top: 5px;
 }