body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.bottom-line {
    border-bottom: 2px solid rgb(245, 211, 41);
}

h1 {
    font-style: italic;

}

header img {
    border: 2px solid rgb(245, 211, 41);
    padding: 10px;
}

.position {
    font-weight: 700;
}

th {
    text-transform: uppercase;
    background-color: rgb(245, 211, 41);
}

td {
    background-color: rgb(245, 236, 189);
}

a {
    color: #00f;
    text-decoration: underline;
}

a:visited {
    color: #005;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

ul.skills-list {
    list-style-type: square;
}