* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


body {
    color: var(--color-text-primary);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.title-border {
    border-bottom: var(--border-bottom) solid var(--color-text-primary);
}

.wrapper {
    display: flex;
}

.left__column {
    width: 500px;
    background: var(--color-background-primary);
    /* position: fixed;
    top: 0; */
}

.right__column {
    /* margin-left: 500px;
    width: 60%; */
    padding: 50px;
}

.left__column-fixed {
    position: fixed;
}

.header {
    text-align: center;
}

.header h1 {
    margin-bottom: var(--margin-medium);
    font-size: var(--margin-large);
}

.header span {
    color: var(--color-text-secondary);

}

.btn-wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}

.hire-me__btn {
    color: white;
    text-decoration: none;
    background-color: var(--color-text-secondary);
    padding: 15px 30px;
    display: block;
    border-radius: var(--border-radius-main);
    transition: all ease 0.3s;
}

.hire-me__btn:hover {
    background-color: var(--color-background-secondary);
    color: var(--color-text-primary);
}

.left__column h3 {
    margin-bottom: var(--margin-xsmall);
}

.left__column img {
    max-width: 100%;
}

.padding-40 {
    padding: 40px 40px 0px 40px;
}

.left-column__title {
    margin-bottom: var(--margin-medium);
    line-height: 2.5;
    font-size: var(--font-medium);
}

.contacts ul {
    display: flex;
    flex-direction: column;
    gap: 36px;
    font-size: var(--font-xsmall);
    font-weight: 600;
}

.contacts ul li h3 {
    font-size: var(--font-small);
}

.languages ul {
    font-size: var(--font-small);
    font-weight: 600;
}

.languages ul li {
    margin-bottom: var(--margin-small);
}



.skills__body {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    padding-left: 18px;
    font-size: var(--font-xsmall);
    font-weight: 600;

}

.skills__body ul li {
    list-style-type: initial;
}

.skills__left-list {
    list-style-type: circle;
}

.mrgn-btm {
    margin-bottom: var(--margin-medium);
}

.title__box {
    font-size: var(--font-medium);
    border-bottom: var(--border-bottom) solid var(--color-text-primary);
    padding-bottom: 40px;
    margin-bottom: var(--margin-large);
}

.experience span,
.education span {
    font-weight: 600;
}

.experience-item:not(:last-child) {
    margin-bottom: var(--margin-medium);
}