* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.title-border {
    border-bottom: 5px solid #333;
}

.wrapper {
    display: flex;
}

.left__column {
    flex: 1 1 25%;
    background: #f3e188;
}

.header h1 {
    margin-bottom: 40px;
    font-size: 50px;
}

.header span {
    color: #8b7402;

}

.left__column h3 {
    margin-bottom: 20px;
}

.left__column img {
    max-width: 100%;
}

.padding-40 {
    padding: 40px 40px 0px 40px;
}

.left-column__title {
    margin-bottom: 40px;
    line-height: 2.5;
    font-size: 32px;
}

.contacts ul {
    display: flex;
    flex-direction: column;
    gap: 36px;
    font-size: 18px;
    font-weight: 600;
}

.contacts ul li h3 {
    font-size: 25px;
}

.languages ul {
    font-size: 25px;
    font-weight: 600;
}

.languages ul li {
    margin-bottom: 25px;
}

.right__column {
    flex: 1 1 75%;
    padding: 50px;
}

.skills__body {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    padding-left: 18px;
    font-size: 18px;
    font-weight: 600;

}

.skills__body ul li {
    list-style-type: initial;
}

.skills__left-list {
    list-style-type: circle;
}

.mrgn-btm-40 {
    margin-bottom: 40px;
}

.title__box {
    font-size: 40px;
    border-bottom: 5px solid;
    padding-bottom: 40px;
    margin-bottom: 50px;
}

.experience span,
.education span {
    font-weight: 600;
}

.experience-item:not(:last-child) {
    margin-bottom: 30px;
}