:root {

    /* margins */

    --margin-xsmall: 20px;
    --margin-small: 25px;
    --margin-medium: 40px;
    --margin-large: 50px;

    /* font */
    --font-xsmall: 18px;
    --font-small: 25px;
    --font-medium: 32px;
    --font-large: 40px;
    --font-xlarge: 50px;

    /* border */
    --border-radius-main: 10px;
    --border-bottom: 5px;
}

.main-theme {

    --color-background-primary: #86A3B4;
    --color-background-secondary: #8fa2ff;
    --color-text-primary: #1E1E1E;
    --color-text-secondary: #1C2E8C;

}

.my-theme {
    --color-background-primary: #ebcf02;
    --color-background-secondary: #fced7c;
    --color-text-primary: rgb(1, 14, 46);
    --color-text-secondary: #554700;

}